:host {
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  .table-container {
    box-shadow: 5px 5px 3px;
  }
  .table-title-container {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
  }
  .table {
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    padding: 24px;
  }
}
