@import "../../../variables.scss";

:host {
  width: 100%;
  @media (max-width: $mobile-breakpoint) {
    width: fit-content;
  }
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;

  .graph-container {
    // border-style: solid;
    // border-width: 1px;
    // border-color: gray;
    border-radius: 24px;
    padding: 18px;
    margin: 18px;
  }
}
