:host {
  display: block;
  width: fit-content;
  height: fit-content;
  .table-container {
    // box-shadow: 5px 5px 3px;

    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 24px;
    padding: 18px;
  }
  .table-title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
  }
  .table {
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    padding: 24px;
  }
}
