<div class="table-container bg-base-200">
  <div class="table-title-container text-secondary">
    <p>{{ title }}</p>
    <div class="btns-container">
      <button mat-mini-fab>
        <mat-icon class="btn btn-primary btn-xs">filter_alt</mat-icon>
      </button>
      <button mat-mini-fab>
        <mat-icon class="btn btn-primary btn-xs">add</mat-icon>
      </button>
    </div>
  </div>
  <table class="table table-zebra">
    <tbody>
      <tr class="text-secondary">
        @for(item of headers; track item){
        <td>{{ item }}</td>
        }
      </tr>
      @if(content.length!=0){ @for(row of content; track row){
      <tr>
        @for(item of row; track item){
        <td>{{ item }}</td>
        }
      </tr>
      } }@else{
      <tr>
        <td>No data</td>
      </tr>
      }
    </tbody>
  </table>
</div>
