@import "../../../variables.scss";

::ng-deep {
  .table {
    font-size: medium;
    position: static;
  }

  .table :where(thead, tfoot) {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .mat-typography p {
    margin: 0;
  }
}
:host {
  display: block;
  width: calc(50% - 100px);
  @media (max-width: $mobile-breakpoint) {
    width: fit-content;
  }
  height: fit-content;
  .table-container {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 24px;
    padding: 18px;
  }
  .table-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;

    width: 100%;
    .btns-container {
      display: flex;
      gap: 4px;
      .table-btns {
        display: flex;
        width: 28px;
        height: 28px;
      }
    }
  }
  .table {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    padding: 24px;
  }
  .scrollable {
    max-height: 500px;
    overflow-y: scroll;
  }
}
