::ng-deep {
  .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: none;
  }
}

.example-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4%;
}

.half-width {
  width: 48%;
}
.cur-width {
  width: 24%;
}
.third-width {
  width: 34%;
}
